@media print {
  .Page {
    display: block;
  }
    .TopPanel {
    display: none;
  }
  .SidePanel {
    display: none;
  }
  .MainTopPanel {
    display: none;
  }
  .MainPanel {
    position: initial !important;
    top: initial !important;
    left: initial !important;
    right: initial !important;
    bottom: initial !important;
    overflow-y: initial !important;
  }
  .Panel {
    background-color: white;
    border-top: none !important;
    border-left: none !important;
    border-bottom: none !important;
    border-right: none !important;
  }
  .MuiPaper-elevation4 {
    box-shadow: none !important;
  }
}

@media screen {
  .Page {
    display: grid;
    height: calc(100vh - 90px);
    grid-template-columns: 450px auto;
  }

  .Panel {
    margin: 3px;
  }

  .SidePanel {
    overflow-y: auto;
    max-height: calc(100vh - 90px);
  }

  .MainArea {
    display: grid;
    grid-template-rows: fit-content(100%) auto;
    height: calc(100vh - 90px);
  }

  .MainTopPanel {
    height: fit-content;
  }

  .MainPanel {
    overflow-y: auto;
  }


  .selected, .sub-selected {
    background-color: yellow !important;
    outline: 1px solid rgb(0,0,93) !important;
    outline-offset: -1px;
  }
}
