:root {
  --marking-fg-color: rgb(0,0,93);
  --selected-bg-color: yellow;
}

.selected, .sub-selected {
  background-color: var(--selected-bg-color) !important;
  outline: 1px solid var(--marking-fg-color) !important;
  outline-offset: -1px;
}
