:root {
  --bg-color: #d3d3d3;
  --fg-color: rgb(0,0,93);
  --border-color-light: #eee;
  --border-color-dark: #a0a0a0;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: var(--fg-color);
}

body a {
  color: var(--fg-color);
  text-decoration: none;
}

body a:hover {
  text-decoration: underline;
}
