.Account .summary {
  font-size: 13pt;
  font-style: italic;
  padding: 0.5ex;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.4ex;
  margin-top: 1ex;
  margin-bottom: 1ex;
}

.Account button.create-new {
  margin-top: 1ex;
}

.Account .dialog input.number {
  width: 6em;
}

.Account .dialog input.name {
  width: 95%;
}

.Account .dialog .error {
  color: red;
}
