.Menu {
  background-color: transparent;
  height: 47px;
}

.Menu .logo {
  display: inline-block;
  height: 40px;
  margin-top: -8px;
  border: 1px solid black;
  border-radius: 5px;
}

.Menu .spacer {
  display: inline-block;
  width: 10px;
}

.Menu .brand {
  display: inline-block;
  color: var(--fg-color);
  font-stretch: extra-condensed;
  font-family: Times;
  font-size: 25px;
  font-weight: bold;
  padding-top: 6px;
  text-shadow: 2px 2px rgba(0,0,0,0.3);
}

.Menu .database, .Menu .period {
  display: inline-block;
  color: var(--fg-color);
  font-stretch: extra-condensed;
  font-family: Times;
  font-size: 20px;
  font-weight: bold;
  padding-top: 3px;
  padding-left: 16px;
  padding-right: 16px;
  height: 34px;
  border-radius: 8px;
  background-color: var(--bg-color-light);
  border: 1px solid var(--border-color-light);
}

.Menu .entry.disabled {
  color: gray;
}

.Menu .entry:hover, .Menu .entry:hover code {
  cursor: pointer;
  color: white;
}

.Menu .entry.disabled:hover, .Menu .entry.disabled:hover code {
  cursor: inherit;
  color: gray;
}
