.Menu {
  background-color: transparent;
  height: 47px;
}

.Menu .spacer {
  display: inline-block;
  width: 10px;
}

.Menu .brand {
  display: inline-block;
  color: var(--fg-color);
  font-stretch: extra-condensed;
  font-family: Times;
  font-size: 25px;
  font-weight: bold;
  padding-top: 6px;
  text-shadow: 2px 2px rgba(0,0,0,0.3);
}

.Menu .entry {
}

.Menu .entry.disabled {
  color: gray;
}

.Menu .entry:hover, .Menu .entry:hover code {
  cursor: pointer;
  color: white;
}

.Menu .entry.disabled:hover, .Menu .entry.disabled:hover code {
  cursor: inherit;
  color: gray;
}
