.Menu .logo {
  height: 40px;
  border: 1px solid black;
  border-radius: 5px;
}

.Menu .database, .Menu .period {
  display: inline-block;
  margin-left: 2rem;
  padding: 0.2rem 1rem;
  font-stretch: extra-condensed;
  font-family: Times;
  font-size: 2rem;
  border-radius: 4px;
  border: 1px solid rgba(255,255,255,0.5);
  background-color: rgba(0,0,0,0.2);;
}

.Menu .button {
  margin-left: 1rem;
}

.Menu .button .shortcut {
  border-radius: 4px;
  padding: 3px;
  font-size: 0.7rem;
  border: 1px solid rgba(255,255,255,0.5);
}

.Menu .language {
  margin-left: 2rem;
}
