@media print {
  .ReportLine.pageBreak {
    page-break-before: always;
  }
}

.ReportLine.pageBreak td {
  height: 1.5em;
}

.ReportLine .name.tab0 {
  padding-left: 0em;
}

.ReportLine .name.tab1 {
  padding-left: 2em;
}

.ReportLine .name.tab2 {
  padding-left: 4em;
}

.ReportLine .name.tab3 {
  padding-left: 6em;
}

.ReportLine .name.tab4 {
  padding-left: 8em;
}

.ReportLine .name.tab5 {
  padding-left: 10em;
}

.ReportLine .name.tab6 {
  padding-left: 12em;
}

.ReportLine .name.tab7 {
  padding-left: 14em;
}

.ReportLine .name.tab8 {
  padding-left: 16em;
}
