table.ReportDisplay {
 max-width: 8in;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

table.ReportDisplay tr {
  background-color: transparent !important;
}

table.ReportDisplay tr td {
  border: none !important;
}

table.ReportDisplay tr td:first-child, table.ReportDisplay tr th:first-child {
  text-align: left;
}

table.ReportDisplay tr td, table.ReportDisplay tr th {
  text-align: right;
}

table.ReportDisplay tr.columns {
  height: 2.2em;
  border-top: 4px solid var(--fg-color);
}

table.ReportDisplay .report-title {
  font-size: 140%;
}
