.ReportLine .name {
  max-width: 5in;
}

.ReportLine .amount {
  width: 1in;
}

.ReportLine.pageBreak td {
  height: 1.5em;
}

.ReportLine .name.column0 {
  padding-left: 0em;
}

.ReportLine .name.column1 {
  padding-left: 2em;
}

.ReportLine .name.column2 {
  padding-left: 4em;
}

.ReportLine .name.column3 {
  padding-left: 6em;
}

.ReportLine .name.column4 {
  padding-left: 8em;
}

.ReportLine .name.column5 {
  padding-left: 10em;
}

.ReportLine .name.column6 {
  padding-left: 12em;
}

.ReportLine .name.column7 {
  padding-left: 14em;
}

.ReportLine .name.column8 {
  padding-left: 16em;
}
