table.ReportDisplay {
 max-width: 8in;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

table.ReportDisplay tr {
  background-color: transparent !important;
}

table.ReportDisplay tr td {
  border: none !important;
}

table.ReportDisplay tr.columns {
  height: 2.2em;
  border-top: 4px solid var(--fg-color);
}

.print table.ReportDisplay tr.columns {
  border-color: black;
}

table.ReportDisplay .report-title {
  font-size: 140%;
}

table.ReportDisplay .name {
  max-width: 5in;
  text-align: left;
}

table.ReportDisplay .numeric {
  width: 1in;
  text-align: right;
}
