.Tag {
  float: left;
  height: 2.15ex;
  width: 2.15ex;
  text-align: center;
  border: 1px solid var(--border-color-dark);
  user-select: none;
  cursor: default;
  background-color: white;
}
.App.busy .Tag {
  cursor: inherit;
}

.Tag.x2 {
  height: 4.3ex;
  width: 4.3ex;
}

.Tag.unknown {
  font-weight: bold;
}

.Tag .text {
  color: black;
}

.Tag img {
  max-width: 100%;
  max-height: 100%;
}

.Tags {
  height: 2.5ex;
  margin-top: 3px;
}

.Tags .Tag {
  border: none;
}
