.TextEdit input {
  color: black;
  font-weight: normal;
  width: 100%;
  position: relative;
}

.TextEdit .proposal-container {
  position: relative;
  z-index: 99999;
}

.TextEdit .proposal-container .proposal {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  overflow: auto;
  background-color: white;
  padding: 5px;
  max-height: 200px;
}

.TextEdit .proposal-container .proposal .item {
  color: gray;
  padding-left: 5px;
  padding-right: 5px;
}

.TextEdit .proposal-container .proposal .item.current {
  color: white;
  background-color: black;
}

.TextEdit .error {
  color: red;
}
