.TransactionDetails {
  color: var(--fg-color-light);
  white-space: nowrap;
}

.TransactionDetails.current {
  font-weight: bold;
}

.TransactionDetails.accountName {
  white-space: nowrap;
  overflow: hidden;
}

.TransactionDetails .filler {
  color: transparent;
}
/*

.TransactionDetails.line.selected {
  color: black !important;
  background-color: white !important;
  border: none;
  border-top: 1px black dotted !important;
  border-bottom: 1px black dotted !important;
}

.TransactionDetails.line.selected  a {
  color: black !important;
}
*/