.TransactionToolPanel .icons {
    display: grid;
    grid-template-columns: max-content auto;
}

.TransactionToolPanel .icons .tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
