.TransactionDetails {
  color: var(--fg-color-light);
  white-space: nowrap;
}

.TransactionDetails.current {
  font-weight: bold;
}

.TransactionDetails.accountName {
  white-space: nowrap;
  overflow: hidden;
}

.TransactionDetails .filler {
  color: transparent;
}

.TransactionDetails.selected {
  outline: 1px black dotted !important;
  outline-offset: -1px;
}

.TransactionDetails.selected  a {
  color: none !important;
}

.TransactionDetails.error {
  color: red;
  background-color: rgba(255,0,0,0.1) !important;
}
