.TransactionEntry {
  display: none;
}

.TransactionEntry.open {
  display: table-row;
}

.TransactionEntry.open td {
  background-color: white;
}

.TransactionEntry.error, .Transaction.error, .Transaction.open.error .credit .summary, .Transaction.open.error .debit .summary {
  color: red;
  font-weight: inherit;
}

.TransactionEntry.error, .Transaction.error {
  background-color: rgba(255,0,0,0.1) !important;
}

.Transaction .number {
  width: 5%;
}

.Transaction.duplicate .number {
  font-style: italic;
  color: rgba(0,0,0,0.5);
}

.Transaction .date {
  text-align: center;
  width: 10%;
}

.TransactionEntry .account {
}

.Transaction .tags {
  width: 5%;
}

.TransactionEntry.open .account {
  width: 25%;
}

.Transaction .tags .Tag {
  vertical-align: middle;
  margin-right: 1px;
  vertical-align: middle;
}

.Transaction .tags .Tag img {
  margin-top: -1.5ex;
}

.Transaction .description, .TransactionEntry .description {
}

.Transaction .debit, .TransactionEntry .debit {
  text-align: right;
  width: 8%;
}

.Transaction.open .debit .summary {
  color: var(--fg-color-light);
  font-weight: bold;
}

.Transaction .credit, .TransactionEntry .credit {
  text-align: right;
  width: 8%;
}

.Transaction.open .credit .summary {
  color: var(--fg-color-light);
  font-weight: bold;
}

.Transaction .total {
  text-align: right;
  width: 8%;
}

.TransactionEntry .empty {
  background-color: var(--bg-color);
}
