.TransactionDetails {
  color: var(--fg-color-light);
  border-top: 1px solid rgba(0,0,0,0.1);
  margin-top: 5px;
}

.TransactionDetails .line.selected {
  color: black !important;
  background-color: white !important;
  border: none;
  border-top: 1px black dotted !important;
  border-bottom: 1px black dotted !important;
}

.TransactionDetails .line.selected  a {
  color: black !important;
}

.TransactionDetails .current {
  font-weight: bold;
}

.TransactionDetails .filler {
  color: transparent;
}

.TransactionDetails .extras {
  font-size: 80%;
  font-style: italic;
}
