.TransactionEntry {
  display: none;
}

.TransactionEntry.open {
  display: table-row;
}

.Transaction .number {
  padding: 0em 0.5em;
  width: 5%;
}

.Transaction.duplicate .number {
  font-style: italic;
  color: rgba(0,0,0,0.5);
}

.Transaction .date {
  text-align: center;
  width: 10%;
}

.TransactionEntry .account {
  padding: 0em 0.5em;
}

.Transaction .tags {
  min-width: 1ex;
}

.Transaction .tags .Tag {
  vertical-align: middle;
  margin-right: 1px;
  vertical-align: middle;
}

.Transaction .tags .Tag img {
  margin-top: -1.5ex;
}

.Transaction .description, .TransactionEntry .description {
  padding: 0em 0.5em;
}

.Transaction .debit, .TransactionEntry .debit {
  text-align: right;
  padding: 0em 0.5em;
  width: 10%;
}

.Transaction.open .debit .summary {
  color: var(--fg-color-light);
  font-weight: bold;
}

.Transaction .credit, .TransactionEntry .credit {
  text-align: right;
  padding: 0em 0.5em;
  width: 10%;
}

.Transaction.open .credit .summary {
  color: var(--fg-color-light);
  font-weight: bold;
}

.Transaction .total {
  text-align: right;
  padding: 0em 0.5em;
  width: 10%;
}
