.Transaction .number {
  padding-left: 0.5em;
}

.Transaction .date {
  text-align: center;
}

.Transaction .tags {
  min-width: 1ex;
}

.Transaction .tags .Tag {
  vertical-align: middle;
}

.Transaction .tags .Tag {
  margin-right: 1px;
  margin-top: 1px;
}

.Transaction .description {
  padding-left: 0.5em;
}

.Transaction .debit {
  text-align: right;
  padding-right: 0.5em;
}

.Transaction .credit {
  text-align: right;
  padding-right: 0.5em;
}

.Transaction .total {
  text-align: right;
  padding-right: 0.5em;
}
